.body {
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
}

@media (--view-sd) {

  .body {
    max-width: 39rem;
  }

}

@media (--view-md) {

  .body {
    display: grid;
    grid-template-columns: 19rem auto;
    grid-template-rows: repeat(3, min-content);
    max-width: 58rem;
  }

  .main {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
  }

}

@media (--view-ld) {

  .body {
    max-width: 77rem;
  }

}
