.color-link,
.color-link\:hover:hover,
.anchor:hover .color-link\:hover {
  color: var(--link-color);
}

.color-highlight {
  color: var(--theme-highlight-text-color);
}

.bg-highlight {
  background-color: var(--theme-highlight-background-color);
}
