.linkcolor,
.linkcolor\:hover:hover,
.anchor:hover .linkcolor\:hover {
  color: var(--link-color);
}

.hlcolor {
  color: var(--theme-highlight-text-color);
}

.bg-hlbgcolor {
  background-color: var(--theme-highlight-background-color);
}

.bg-hlbgcolor-shadow {
  box-shadow: -1px 0 0 2px var(--theme-highlight-background-color),
    1px 0 0 2px var(--theme-highlight-background-color);
}
