@import 'abrusco';
@import '-body';
@import '-copy';

/* Inter font-family */

@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

/* responsivity */

@custom-media --view-sd (min-width: 40rem);
@custom-media --view-md (min-width: 61rem);
@custom-media --view-ld (min-width: 80rem);
@custom-media --view-xl (min-width: 100rem);

.max38 { max-width: 38rem; }
