html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  font-size: var(--font-size);
  font-family: -apple-system,
                 BlinkMacSystemFont,
                 'Segoe UI',
                 'Roboto',
                 'Oxygen',
                 'Ubuntu',
                 'Cantarell',
                 'Fira Sans',
                 'Droid Sans',
                 'Helvetica Neue',
                 sans-serif;
  font-family: var(--font-family);
  color: #040404;
  color: var(--text-color);
  background-color: #fff;
  background-color: var(--background-color);
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
  body {
    height: 100%;
  }
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
  outline: 0;
}

hr {
  margin: 0;
  border: 0;
}

svg {
  fill: currentColor;
}

:root {
  --font-size: 16px;
  --font-family: var(--sansserif-font-family);
  --background-color: var(--white, white);
  --text-color: var(--black, black);
  --link-color: var(--blue, blue);
  --border-width: 1px;
  --border-color: currentColor;
  --bold-font-weight: bold;
  --serif-font-family: Georgia, 'Times New Roman', serif;
  --sansserif-font-family: -apple-system,
                             BlinkMacSystemFont,
                             'Segoe UI',
                             'Roboto',
                             'Oxygen',
                             'Ubuntu',
                             'Cantarell',
                             'Fira Sans',
                             'Droid Sans',
                             'Helvetica Neue',
                             sans-serif;
  --code-font-family: Courier, monospace;
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1.5rem;
  --h4: 1.25rem;
  --h5: 1.125rem;
  --h6: 1.0625rem;
  --f0: 1rem;
  --f1: .9375rem;
  --f2: .875rem;
  --f3: .8125rem;
  --f4: .75rem;
  --lh0: 1;
  --lh1: 1.125;
  --lh2: 1.25;
  --lh3: 1.375;
  --lh4: 1.5;
  --lh5: 2;
  --black: #040404;
  --white: #fff;
  --black-95: rgba(4, 4, 4, .95);
  --black-90: rgba(4, 4, 4, .9);
  --black-80: rgba(4, 4, 4, .8);
  --black-70: rgba(4, 4, 4, .7);
  --black-60: rgba(4, 4, 4, .6);
  --black-50: rgba(4, 4, 4, .5);
  --black-40: rgba(4, 4, 4, .4);
  --black-30: rgba(4, 4, 4, .3);
  --black-20: rgba(4, 4, 4, .2);
  --black-10: rgba(4, 4, 4, .1);
  --black-05: rgba(4, 4, 4, .05);
  --black-025: rgba(4, 4, 4, .025);
  --black-0125: rgba(4, 4, 4, .0125);
  --white-95: rgba(255, 255, 255, .95);
  --white-90: rgba(255, 255, 255, .9);
  --white-80: rgba(255, 255, 255, .8);
  --white-70: rgba(255, 255, 255, .7);
  --white-60: rgba(255, 255, 255, .6);
  --white-50: rgba(255, 255, 255, .5);
  --white-40: rgba(255, 255, 255, .4);
  --white-30: rgba(255, 255, 255, .3);
  --white-20: rgba(255, 255, 255, .2);
  --white-10: rgba(255, 255, 255, .1);
  --white-05: rgba(255, 255, 255, .05);
  --white-025: rgba(255, 255, 255, .025);
  --white-0125: rgba(255, 255, 255, .0125);
  --aqua: #7fdbff;
  --blue: #0074d9;
  --navy: #001f3f;
  --teal: #39cccc;
  --green: #2ecc40;
  --olive: #3d9970;
  --lime: #01ff70;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff4136;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --maroon: #85144b;
}

.al {
  text-align: left;
}

.ar {
  text-align: right;
}

.ac {
  text-align: center;
}

.uc {
  text-transform: uppercase;
}

.lc {
  text-transform: lowercase;
}

.cc {
  text-transform: capitalize;
}

.nc {
  text-transform: none;
}

.h1 {
  font-size: 2.5rem;
  font-size: var(--h1);
}

.h2 {
  font-size: 2rem;
  font-size: var(--h2);
}

.h3 {
  font-size: 1.5rem;
  font-size: var(--h3);
}

.h4 {
  font-size: 1.25rem;
  font-size: var(--h4);
}

.h5 {
  font-size: 1.125rem;
  font-size: var(--h5);
}

.h6 {
  font-size: 1.0625rem;
  font-size: var(--h6);
}

.f0 {
  font-size: 1rem;
  font-size: var(--f0);
}

.f1 {
  font-size: .9375rem;
  font-size: var(--f1);
}

.f2 {
  font-size: .875rem;
  font-size: var(--f2);
}

.f3 {
  font-size: .8125rem;
  font-size: var(--f3);
}

.f4 {
  font-size: .75rem;
  font-size: var(--f4);
}

.lh0 {
  line-height: 1;
  line-height: var(--lh0);
}

.lh1 {
  line-height: 1.125;
  line-height: var(--lh1);
}

.lh2 {
  line-height: 1.25;
  line-height: var(--lh2);
}

.lh3 {
  line-height: 1.375;
  line-height: var(--lh3);
}

.lh4 {
  line-height: 1.5;
  line-height: var(--lh4);
}

.lh5 {
  line-height: 2;
  line-height: var(--lh5);
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
  font-weight: var(--bold-font-weight);
}

.fw100 {
  font-weight: 100;
}

.fw200 {
  font-weight: 200;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

.fw900 {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.ul, .ul\:hover:hover, .anchor:hover .ul\:hover {
  text-decoration: underline;
}

.ol {
  text-decoration: overline;
}

.lt {
  text-decoration: line-through;
}

.va-inherit {
  vertical-align: inherit;
}

.va-baseline {
  vertical-align: baseline;
}

.va-sub {
  vertical-align: sub;
}

.va-super {
  vertical-align: super;
}

.va-middle {
  vertical-align: middle;
}

.va-top {
  vertical-align: top;
}

.va-bottom {
  vertical-align: bottom;
}

.nowrap {
  white-space: nowrap;
}

.serif {
  font-family: Georgia, 'Times New Roman', serif;
  font-family: var(--serif-font-family);
}

.sansserif {
  font-family: -apple-system,
                 BlinkMacSystemFont,
                 'Segoe UI',
                 'Roboto',
                 'Oxygen',
                 'Ubuntu',
                 'Cantarell',
                 'Fira Sans',
                 'Droid Sans',
                 'Helvetica Neue',
                 sans-serif;
  font-family: var(--sansserif-font-family);
}

.code {
  font-family: Courier, monospace;
  font-family: var(--code-font-family);
}

@media (max-width: 24rem) {
  .xs-al {
    text-align: left;
  }

  .xs-ar {
    text-align: right;
  }

  .xs-ac {
    text-align: center;
  }
}

@media (min-width: 40rem) {
  .sd-al {
    text-align: left;
  }

  .sd-ar {
    text-align: right;
  }

  .sd-ac {
    text-align: center;
  }

  .sd-h1 {
    font-size: 2.5rem;
    font-size: var(--h1);
  }

  .sd-h2 {
    font-size: 2rem;
    font-size: var(--h2);
  }

  .sd-h3 {
    font-size: 1.5rem;
    font-size: var(--h3);
  }

  .sd-h4 {
    font-size: 1.25rem;
    font-size: var(--h4);
  }

  .sd-h5 {
    font-size: 1.125rem;
    font-size: var(--h5);
  }

  .sd-h6 {
    font-size: 1.0625rem;
    font-size: var(--h6);
  }
}

@media (min-width: 61rem) {
  .md-al {
    text-align: left;
  }

  .md-ar {
    text-align: right;
  }

  .md-ac {
    text-align: center;
  }

  .md-h1 {
    font-size: 2.5rem;
    font-size: var(--h1);
  }

  .md-h2 {
    font-size: 2rem;
    font-size: var(--h2);
  }

  .md-h3 {
    font-size: 1.5rem;
    font-size: var(--h3);
  }

  .md-h4 {
    font-size: 1.25rem;
    font-size: var(--h4);
  }

  .md-h5 {
    font-size: 1.125rem;
    font-size: var(--h5);
  }

  .md-h6 {
    font-size: 1.0625rem;
    font-size: var(--h6);
  }
}

@media (min-width: 80rem) {
  .ld-al {
    text-align: left;
  }

  .ld-ar {
    text-align: right;
  }

  .ld-ac {
    text-align: center;
  }

  .ld-h1 {
    font-size: 2.5rem;
    font-size: var(--h1);
  }

  .ld-h2 {
    font-size: 2rem;
    font-size: var(--h2);
  }

  .ld-h3 {
    font-size: 1.5rem;
    font-size: var(--h3);
  }

  .ld-h4 {
    font-size: 1.25rem;
    font-size: var(--h4);
  }

  .ld-h5 {
    font-size: 1.125rem;
    font-size: var(--h5);
  }

  .ld-h6 {
    font-size: 1.0625rem;
    font-size: var(--h6);
  }
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inlineblock {
  display: inline-block;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.o100 {
  opacity: 1;
}

.o95 {
  opacity: .95;
}

.o90 {
  opacity: .9;
}

.o80 {
  opacity: .8;
}

.o70 {
  opacity: .7;
}

.o60 {
  opacity: .6;
}

.o50 {
  opacity: .5;
}

.o40 {
  opacity: .4;
}

.o30 {
  opacity: .3;
}

.o20 {
  opacity: .2;
}

.o10 {
  opacity: .1;
}

.o05 {
  opacity: .05;
}

.o0 {
  opacity: 0;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.max {
  max-width: none;
}

.max4 {
  max-width: 4rem;
}

.max6 {
  max-width: 6rem;
}

.max8 {
  max-width: 8rem;
}

.max10 {
  max-width: 10rem;
}

.max12 {
  max-width: 12rem;
}

.max15 {
  max-width: 15rem;
}

.max16 {
  max-width: 16rem;
}

.max20 {
  max-width: 20rem;
}

.max24 {
  max-width: 24rem;
}

.max30 {
  max-width: 30rem;
}

.max32 {
  max-width: 32rem;
}

.max36 {
  max-width: 36rem;
}

.max40 {
  max-width: 40rem;
}

.max45 {
  max-width: 45rem;
}

.max47 {
  max-width: 47rem;
}

.max48 {
  max-width: 48rem;
}

.max49 {
  max-width: 49rem;
}

.max50 {
  max-width: 50rem;
}

.max56 {
  max-width: 56rem;
}

.max60 {
  max-width: 60rem;
}

.max64 {
  max-width: 64rem;
}

.max65 {
  max-width: 65rem;
}

.max70 {
  max-width: 70rem;
}

.max72 {
  max-width: 72rem;
}

.max74 {
  max-width: 74rem;
}

.max75 {
  max-width: 75rem;
}

.max77 {
  max-width: 77rem;
}

.max80 {
  max-width: 80rem;
}

.max90 {
  max-width: 90rem;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.w0 {
  width: 0%;
}

.wa {
  width: auto;
}

.h100 {
  height: 100%;
}

.h50 {
  height: 50%;
}

.h0 {
  height: 0%;
}

.ha {
  height: auto;
}

.row {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.col {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.row-reverse {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col-reverse {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8 {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.grid2 > * {
  width: calc(100% / 2);
}

.grid3 > * {
  width: calc(100% / 3);
}

.grid4 > * {
  width: calc(100% / 4);
}

.grid5 > * {
  width: calc(100% / 5);
}

.grid6 > * {
  width: calc(100% / 6);
}

.grid7 > * {
  width: calc(100% / 7);
}

.grid8 > * {
  width: calc(100% / 8);
}

@supports (display: grid) {
  .grid {
    display: grid;
  }

  .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .grid5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .grid6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .grid7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .grid8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .grid2 > *, .grid3 > *, .grid4 > *, .grid5 > *, .grid6 > *, .grid7 > *,
  .grid8 > * {
    width: auto;
  }
}

.items-start {
  -webkit-box-align: start;
  align-items: flex-start;
}

.items-end {
  -webkit-box-align: end;
  align-items: flex-end;
}

.items-center {
  -webkit-box-align: center;
  align-items: center;
}

.items-baseline {
  -webkit-box-align: baseline;
  align-items: baseline;
}

.items-stretch {
  -webkit-box-align: stretch;
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-center {
  align-self: center;
}

.self-baseline {
  align-self: baseline;
}

.self-stretch {
  align-self: stretch;
}

.justify-start {
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
  justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.span0 {
  -webkit-box-flex: 0;
  flex: 0;
  min-width: 0;
  min-height: 0;
}

.span1 {
  -webkit-box-flex: 1;
  flex: 1;
  min-width: 0;
  min-height: 0;
}

.span2 {
  -webkit-box-flex: 2;
  flex: 2;
  min-width: 0;
  min-height: 0;
}

.span3 {
  -webkit-box-flex: 3;
  flex: 3;
  min-width: 0;
  min-height: 0;
}

.span4 {
  -webkit-box-flex: 4;
  flex: 4;
  min-width: 0;
  min-height: 0;
}

.span5 {
  -webkit-box-flex: 5;
  flex: 5;
  min-width: 0;
  min-height: 0;
}

.span6 {
  -webkit-box-flex: 6;
  flex: 6;
  min-width: 0;
  min-height: 0;
}

.span7 {
  -webkit-box-flex: 7;
  flex: 7;
  min-width: 0;
  min-height: 0;
}

.span8 {
  -webkit-box-flex: 8;
  flex: 8;
  min-width: 0;
  min-height: 0;
}

.span9 {
  -webkit-box-flex: 9;
  flex: 9;
  min-width: 0;
  min-height: 0;
}

.span-auto {
  flex-basis: auto;
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
  .col > * {
    flex-basis: auto;
  }
}

.order0 {
  -webkit-box-ordinal-group: 1;
  order: 0;
}

.order1 {
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.order2 {
  -webkit-box-ordinal-group: 3;
  order: 2;
}

.order3 {
  -webkit-box-ordinal-group: 4;
  order: 3;
}

.order4 {
  -webkit-box-ordinal-group: 5;
  order: 4;
}

.order5 {
  -webkit-box-ordinal-group: 6;
  order: 5;
}

.order6 {
  -webkit-box-ordinal-group: 7;
  order: 6;
}

.order7 {
  -webkit-box-ordinal-group: 8;
  order: 7;
}

.order8 {
  -webkit-box-ordinal-group: 9;
  order: 8;
}

.order9 {
  -webkit-box-ordinal-group: 10;
  order: 9;
}

@media (max-width: 24rem) {
  .xs-show {
    display: block;
  }

  .xs-hide {
    display: none;
  }
}

@media (min-width: 40rem) {
  .sd-show {
    display: block;
  }

  .sd-hide {
    display: none;
  }

  .sd-max {
    max-width: none;
  }

  .sd-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }

  .sd-col {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .sd-row-reverse {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
  }

  .sd-col-reverse {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
  }

  .sd-grid2, .sd-grid3, .sd-grid4, .sd-grid5, .sd-grid6, .sd-grid7, .sd-grid8 {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }

  .sd-grid2 > * {
    width: calc(100% / 2);
  }

  .sd-grid3 > * {
    width: calc(100% / 3);
  }

  .sd-grid4 > * {
    width: calc(100% / 4);
  }

  .sd-grid5 > * {
    width: calc(100% / 5);
  }

  .sd-grid6 > * {
    width: calc(100% / 6);
  }

  .sd-grid7 > * {
    width: calc(100% / 7);
  }

  .sd-grid8 > * {
    width: calc(100% / 8);
  }

  @supports (display: grid) {
    .sd-grid {
      display: grid;
    }

    .sd-grid2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .sd-grid3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .sd-grid4 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .sd-grid5 {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    .sd-grid6 {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }

    .sd-grid7 {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    .sd-grid8 {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
    }

    .sd-grid2 > *, .sd-grid3 > *, .sd-grid4 > *, .sd-grid5 > *, .sd-grid6 > *,
    .sd-grid7 > *, .sd-grid8 > * {
      width: auto;
    }
  }

  .sd-order0 {
    -webkit-box-ordinal-group: 1;
    order: 0;
  }

  .sd-order1 {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .sd-order9 {
    -webkit-box-ordinal-group: 10;
    order: 9;
  }
}

@media (min-width: 61rem) {
  .md-show {
    display: block;
  }

  .md-hide {
    display: none;
  }

  .md-max {
    max-width: none;
  }

  .md-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }

  .md-col {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .md-row-reverse {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
  }

  .md-col-reverse {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
  }

  .md-grid2, .md-grid3, .md-grid4, .md-grid5, .md-grid6, .md-grid7, .md-grid8 {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }

  .md-grid2 > * {
    width: calc(100% / 2);
  }

  .md-grid3 > * {
    width: calc(100% / 3);
  }

  .md-grid4 > * {
    width: calc(100% / 4);
  }

  .md-grid5 > * {
    width: calc(100% / 5);
  }

  .md-grid6 > * {
    width: calc(100% / 6);
  }

  .md-grid7 > * {
    width: calc(100% / 7);
  }

  .md-grid8 > * {
    width: calc(100% / 8);
  }

  @supports (display: grid) {
    .md-grid {
      display: grid;
    }

    .md-grid2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .md-grid3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .md-grid4 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .md-grid5 {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    .md-grid6 {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }

    .md-grid7 {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    .md-grid8 {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
    }

    .md-grid2 > *, .md-grid3 > *, .md-grid4 > *, .md-grid5 > *, .md-grid6 > *,
    .md-grid7 > *, .md-grid8 > * {
      width: auto;
    }
  }

  .md-order0 {
    -webkit-box-ordinal-group: 1;
    order: 0;
  }

  .md-order1 {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .md-order9 {
    -webkit-box-ordinal-group: 10;
    order: 9;
  }
}

@media (min-width: 80rem) {
  .ld-show {
    display: block;
  }

  .ld-hide {
    display: none;
  }

  .ld-max {
    max-width: none;
  }

  .ld-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }

  .ld-col {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .ld-row-reverse {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
  }

  .ld-col-reverse {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
  }

  .ld-grid2, .ld-grid3, .ld-grid4, .ld-grid5, .ld-grid6, .ld-grid7, .ld-grid8 {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }

  .ld-grid2 > * {
    width: calc(100% / 2);
  }

  .ld-grid3 > * {
    width: calc(100% / 3);
  }

  .ld-grid4 > * {
    width: calc(100% / 4);
  }

  .ld-grid5 > * {
    width: calc(100% / 5);
  }

  .ld-grid6 > * {
    width: calc(100% / 6);
  }

  .ld-grid7 > * {
    width: calc(100% / 7);
  }

  .ld-grid8 > * {
    width: calc(100% / 8);
  }

  @supports (display: grid) {
    .md-grid {
      display: grid;
    }

    .ld-grid2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .ld-grid3 {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .ld-grid4 {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .ld-grid5 {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    .ld-grid6 {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }

    .ld-grid7 {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    .ld-grid8 {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
    }

    .ld-grid2 > *, .ld-grid3 > *, .ld-grid4 > *, .ld-grid5 > *, .ld-grid6 > *,
    .ld-grid7 > *, .ld-grid8 > * {
      width: auto;
    }
  }

  .ld-order0 {
    -webkit-box-ordinal-group: 1;
    order: 0;
  }

  .ld-order1 {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .ld-order9 {
    -webkit-box-ordinal-group: 10;
    order: 9;
  }
}

@media (min-width: 100rem) {
  .xl-show {
    display: block;
  }

  .xl-hide {
    display: none;
  }

  .xl-order0 {
    -webkit-box-ordinal-group: 1;
    order: 0;
  }

  .xl-order1 {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .xl-order9 {
    -webkit-box-ordinal-group: 10;
    order: 9;
  }
}

.p0 {
  padding: 0;
}

.p0125 {
  padding: .125rem;
}

.p025 {
  padding: .25rem;
}

.p05 {
  padding: .5rem;
}

.p075 {
  padding: .75rem;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.p0125b {
  padding: calc(.125rem - 1px);
  padding: calc(.125rem - var(--border-width));
}

.p025b {
  padding: calc(.25rem - 1px);
  padding: calc(.25rem - var(--border-width));
}

.p05b {
  padding: calc(.5rem - 1px);
  padding: calc(.5rem - var(--border-width));
}

.p075b {
  padding: calc(.75rem - 1px);
  padding: calc(.75rem - var(--border-width));
}

.p1b {
  padding: calc(1rem - 1px);
  padding: calc(1rem - var(--border-width));
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.px0125 {
  padding-left: .125rem;
  padding-right: .125rem;
}

.px025 {
  padding-left: .25rem;
  padding-right: .25rem;
}

.px05 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.px075 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px0125b {
  padding-left: calc(.125rem - 1px);
  padding-left: calc(.125rem - var(--border-width));
  padding-right: calc(.125rem - 1px);
  padding-right: calc(.125rem - var(--border-width));
}

.px025b {
  padding-left: calc(.25rem - 1px);
  padding-left: calc(.25rem - var(--border-width));
  padding-right: calc(.25rem - 1px);
  padding-right: calc(.25rem - var(--border-width));
}

.px05b {
  padding-left: calc(.5rem - 1px);
  padding-left: calc(.5rem - var(--border-width));
  padding-right: calc(.5rem - 1px);
  padding-right: calc(.5rem - var(--border-width));
}

.px075b {
  padding-left: calc(.75rem - 1px);
  padding-left: calc(.75rem - var(--border-width));
  padding-right: calc(.75rem - 1px);
  padding-right: calc(.75rem - var(--border-width));
}

.px1b {
  padding-left: calc(1rem - 1px);
  padding-left: calc(1rem - var(--border-width));
  padding-right: calc(1rem - 1px);
  padding-right: calc(1rem - var(--border-width));
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py0125 {
  padding-top: .125rem;
  padding-bottom: .125rem;
}

.py025 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py05 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py075 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py0125b {
  padding-top: calc(.125rem - 1px);
  padding-top: calc(.125rem - var(--border-width));
  padding-bottom: calc(.125rem - 1px);
  padding-bottom: calc(.125rem - var(--border-width));
}

.py025b {
  padding-top: calc(.25rem - 1px);
  padding-top: calc(.25rem - var(--border-width));
  padding-bottom: calc(.25rem - 1px);
  padding-bottom: calc(.25rem - var(--border-width));
}

.py05b {
  padding-top: calc(.5rem - 1px);
  padding-top: calc(.5rem - var(--border-width));
  padding-bottom: calc(.5rem - 1px);
  padding-bottom: calc(.5rem - var(--border-width));
}

.py075b {
  padding-top: calc(.75rem - 1px);
  padding-top: calc(.75rem - var(--border-width));
  padding-bottom: calc(.75rem - 1px);
  padding-bottom: calc(.75rem - var(--border-width));
}

.py1b {
  padding-top: calc(1rem - 1px);
  padding-top: calc(1rem - var(--border-width));
  padding-bottom: calc(1rem - 1px);
  padding-bottom: calc(1rem - var(--border-width));
}

.pt0 {
  padding-top: 0;
}

.pt0125 {
  padding-top: .125rem;
}

.pt025 {
  padding-top: .25rem;
}

.pt05 {
  padding-top: .5rem;
}

.pt075 {
  padding-top: .75rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pt4 {
  padding-top: 4rem;
}

.pb0 {
  padding-bottom: 0;
}

.pb0125 {
  padding-bottom: .125rem;
}

.pb025 {
  padding-bottom: .25rem;
}

.pb05 {
  padding-bottom: .5rem;
}

.pb075 {
  padding-bottom: .75rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pl0 {
  padding-left: 0;
}

.pl0125 {
  padding-left: .125rem;
}

.pl025 {
  padding-left: .25rem;
}

.pl05 {
  padding-left: .5rem;
}

.pl075 {
  padding-left: .75rem;
}

.pl1 {
  padding-left: 1rem;
}

.pl2 {
  padding-left: 2rem;
}

.pl3 {
  padding-left: 3rem;
}

.pl4 {
  padding-left: 4rem;
}

.pr0 {
  padding-right: 0;
}

.pr0125 {
  padding-right: .125rem;
}

.pr025 {
  padding-right: .25rem;
}

.pr05 {
  padding-right: .5rem;
}

.pr075 {
  padding-right: .75rem;
}

.pr1 {
  padding-right: 1rem;
}

.pr2 {
  padding-right: 2rem;
}

.pr3 {
  padding-right: 3rem;
}

.pr4 {
  padding-right: 4rem;
}

.m0 {
  margin: 0;
}

.m025 {
  margin: .25rem;
}

.m05 {
  margin: .5rem;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.m3 {
  margin: 3rem;
}

.m4 {
  margin: 4rem;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx {
  margin-left: auto;
  margin-right: auto;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my {
  margin-top: auto;
  margin-bottom: auto;
}

.mt025 {
  margin-top: .25rem;
}

.mt05 {
  margin-top: .5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mb025 {
  margin-bottom: .25rem;
}

.mb05 {
  margin-bottom: .5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.ml025 {
  margin-left: .25rem;
}

.ml05 {
  margin-left: .5rem;
}

.ml1 {
  margin-left: 1rem;
}

.ml2 {
  margin-left: 2rem;
}

.ml {
  margin-left: auto;
}

.mr025 {
  margin-right: .25rem;
}

.mr05 {
  margin-right: .5rem;
}

.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mr {
  margin-right: auto;
}

@media (min-width: 40rem) {
  .sd-p0 {
    padding: 0;
  }

  .sd-p025 {
    padding: .25rem;
  }

  .sd-p05 {
    padding: .5rem;
  }

  .sd-p075 {
    padding: .75rem;
  }

  .sd-p1 {
    padding: 1rem;
  }

  .sd-p2 {
    padding: 2rem;
  }

  .sd-p3 {
    padding: 3rem;
  }

  .sd-p4 {
    padding: 4rem;
  }

  .sd-px0 {
    padding-left: 0;
    padding-right: 0;
  }

  .sd-px1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sd-px2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sd-px3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .sd-px4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .sd-py0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .sd-py1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sd-py2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .sd-py3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .sd-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .sd-p0125b {
    padding: calc(.125rem - 1px);
    padding: calc(.125rem - var(--border-width));
  }

  .sd-p025b {
    padding: calc(.25rem - 1px);
    padding: calc(.25rem - var(--border-width));
  }

  .sd-p05b {
    padding: calc(.5rem - 1px);
    padding: calc(.5rem - var(--border-width));
  }

  .sd-p075b {
    padding: calc(.75rem - 1px);
    padding: calc(.75rem - var(--border-width));
  }

  .sd-p1b {
    padding: calc(1rem - 1px);
    padding: calc(1rem - var(--border-width));
  }

  .sd-px0125b {
    padding-left: calc(.125rem - 1px);
    padding-left: calc(.125rem - var(--border-width));
    padding-right: calc(.125rem - 1px);
    padding-right: calc(.125rem - var(--border-width));
  }

  .sd-px025b {
    padding-left: calc(.25rem - 1px);
    padding-left: calc(.25rem - var(--border-width));
    padding-right: calc(.25rem - 1px);
    padding-right: calc(.25rem - var(--border-width));
  }

  .sd-px05b {
    padding-left: calc(.5rem - 1px);
    padding-left: calc(.5rem - var(--border-width));
    padding-right: calc(.5rem - 1px);
    padding-right: calc(.5rem - var(--border-width));
  }

  .sd-px075b {
    padding-left: calc(.75rem - 1px);
    padding-left: calc(.75rem - var(--border-width));
    padding-right: calc(.75rem - 1px);
    padding-right: calc(.75rem - var(--border-width));
  }

  .sd-px1b {
    padding-left: calc(1rem - 1px);
    padding-left: calc(1rem - var(--border-width));
    padding-right: calc(1rem - 1px);
    padding-right: calc(1rem - var(--border-width));
  }

  .sd-py0125b {
    padding-top: calc(.125rem - 1px);
    padding-top: calc(.125rem - var(--border-width));
    padding-bottom: calc(.125rem - 1px);
    padding-bottom: calc(.125rem - var(--border-width));
  }

  .sd-py025b {
    padding-top: calc(.25rem - 1px);
    padding-top: calc(.25rem - var(--border-width));
    padding-bottom: calc(.25rem - 1px);
    padding-bottom: calc(.25rem - var(--border-width));
  }

  .sd-py05b {
    padding-top: calc(.5rem - 1px);
    padding-top: calc(.5rem - var(--border-width));
    padding-bottom: calc(.5rem - 1px);
    padding-bottom: calc(.5rem - var(--border-width));
  }

  .sd-py075b {
    padding-top: calc(.75rem - 1px);
    padding-top: calc(.75rem - var(--border-width));
    padding-bottom: calc(.75rem - 1px);
    padding-bottom: calc(.75rem - var(--border-width));
  }

  .sd-py1b {
    padding-top: calc(1rem - 1px);
    padding-top: calc(1rem - var(--border-width));
    padding-bottom: calc(1rem - 1px);
    padding-bottom: calc(1rem - var(--border-width));
  }
}

@media (min-width: 61rem) {
  .md-p0 {
    padding: 0;
  }

  .md-p025 {
    padding: .25rem;
  }

  .md-p05 {
    padding: .5rem;
  }

  .md-p075 {
    padding: .75rem;
  }

  .md-p1 {
    padding: 1rem;
  }

  .md-p2 {
    padding: 2rem;
  }

  .md-p3 {
    padding: 3rem;
  }

  .md-p4 {
    padding: 4rem;
  }

  .md-px0 {
    padding-left: 0;
    padding-right: 0;
  }

  .md-px1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .md-px2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .md-px3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .md-px4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .md-py0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .md-py1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .md-py2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .md-py3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .md-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .md-p0125b {
    padding: calc(.125rem - 1px);
    padding: calc(.125rem - var(--border-width));
  }

  .md-p025b {
    padding: calc(.25rem - 1px);
    padding: calc(.25rem - var(--border-width));
  }

  .md-p05b {
    padding: calc(.5rem - 1px);
    padding: calc(.5rem - var(--border-width));
  }

  .md-p075b {
    padding: calc(.75rem - 1px);
    padding: calc(.75rem - var(--border-width));
  }

  .md-p1b {
    padding: calc(1rem - 1px);
    padding: calc(1rem - var(--border-width));
  }

  .md-px0125b {
    padding-left: calc(.125rem - 1px);
    padding-left: calc(.125rem - var(--border-width));
    padding-right: calc(.125rem - 1px);
    padding-right: calc(.125rem - var(--border-width));
  }

  .md-px025b {
    padding-left: calc(.25rem - 1px);
    padding-left: calc(.25rem - var(--border-width));
    padding-right: calc(.25rem - 1px);
    padding-right: calc(.25rem - var(--border-width));
  }

  .md-px05b {
    padding-left: calc(.5rem - 1px);
    padding-left: calc(.5rem - var(--border-width));
    padding-right: calc(.5rem - 1px);
    padding-right: calc(.5rem - var(--border-width));
  }

  .md-px075b {
    padding-left: calc(.75rem - 1px);
    padding-left: calc(.75rem - var(--border-width));
    padding-right: calc(.75rem - 1px);
    padding-right: calc(.75rem - var(--border-width));
  }

  .md-px1b {
    padding-left: calc(1rem - 1px);
    padding-left: calc(1rem - var(--border-width));
    padding-right: calc(1rem - 1px);
    padding-right: calc(1rem - var(--border-width));
  }

  .md-py0125b {
    padding-top: calc(.125rem - 1px);
    padding-top: calc(.125rem - var(--border-width));
    padding-bottom: calc(.125rem - 1px);
    padding-bottom: calc(.125rem - var(--border-width));
  }

  .md-py025b {
    padding-top: calc(.25rem - 1px);
    padding-top: calc(.25rem - var(--border-width));
    padding-bottom: calc(.25rem - 1px);
    padding-bottom: calc(.25rem - var(--border-width));
  }

  .md-py05b {
    padding-top: calc(.5rem - 1px);
    padding-top: calc(.5rem - var(--border-width));
    padding-bottom: calc(.5rem - 1px);
    padding-bottom: calc(.5rem - var(--border-width));
  }

  .md-py075b {
    padding-top: calc(.75rem - 1px);
    padding-top: calc(.75rem - var(--border-width));
    padding-bottom: calc(.75rem - 1px);
    padding-bottom: calc(.75rem - var(--border-width));
  }

  .md-py1b {
    padding-top: calc(1rem - 1px);
    padding-top: calc(1rem - var(--border-width));
    padding-bottom: calc(1rem - 1px);
    padding-bottom: calc(1rem - var(--border-width));
  }
}

@media (min-width: 80rem) {
  .ld-p0 {
    padding: 0;
  }

  .ld-p025 {
    padding: .25rem;
  }

  .ld-p05 {
    padding: .5rem;
  }

  .ld-p075 {
    padding: .75rem;
  }

  .ld-p1 {
    padding: 1rem;
  }

  .ld-p2 {
    padding: 2rem;
  }

  .ld-p3 {
    padding: 3rem;
  }

  .ld-p4 {
    padding: 4rem;
  }

  .ld-px0 {
    padding-left: 0;
    padding-right: 0;
  }

  .ld-px1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .ld-px2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .ld-px3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .ld-px4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .ld-py0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .ld-py1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .ld-py2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .ld-py3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .ld-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .ld-p0125b {
    padding: calc(.125rem - 1px);
    padding: calc(.125rem - var(--border-width));
  }

  .ld-p025b {
    padding: calc(.25rem - 1px);
    padding: calc(.25rem - var(--border-width));
  }

  .ld-p05b {
    padding: calc(.5rem - 1px);
    padding: calc(.5rem - var(--border-width));
  }

  .ld-p075b {
    padding: calc(.75rem - 1px);
    padding: calc(.75rem - var(--border-width));
  }

  .ld-p1b {
    padding: calc(1rem - 1px);
    padding: calc(1rem - var(--border-width));
  }

  .ld-px0125b {
    padding-left: calc(.125rem - 1px);
    padding-left: calc(.125rem - var(--border-width));
    padding-right: calc(.125rem - 1px);
    padding-right: calc(.125rem - var(--border-width));
  }

  .ld-px025b {
    padding-left: calc(.25rem - 1px);
    padding-left: calc(.25rem - var(--border-width));
    padding-right: calc(.25rem - 1px);
    padding-right: calc(.25rem - var(--border-width));
  }

  .ld-px05b {
    padding-left: calc(.5rem - 1px);
    padding-left: calc(.5rem - var(--border-width));
    padding-right: calc(.5rem - 1px);
    padding-right: calc(.5rem - var(--border-width));
  }

  .ld-px075b {
    padding-left: calc(.75rem - 1px);
    padding-left: calc(.75rem - var(--border-width));
    padding-right: calc(.75rem - 1px);
    padding-right: calc(.75rem - var(--border-width));
  }

  .ld-px1b {
    padding-left: calc(1rem - 1px);
    padding-left: calc(1rem - var(--border-width));
    padding-right: calc(1rem - 1px);
    padding-right: calc(1rem - var(--border-width));
  }

  .ld-py0125b {
    padding-top: calc(.125rem - 1px);
    padding-top: calc(.125rem - var(--border-width));
    padding-bottom: calc(.125rem - 1px);
    padding-bottom: calc(.125rem - var(--border-width));
  }

  .ld-py025b {
    padding-top: calc(.25rem - 1px);
    padding-top: calc(.25rem - var(--border-width));
    padding-bottom: calc(.25rem - 1px);
    padding-bottom: calc(.25rem - var(--border-width));
  }

  .ld-py05b {
    padding-top: calc(.5rem - 1px);
    padding-top: calc(.5rem - var(--border-width));
    padding-bottom: calc(.5rem - 1px);
    padding-bottom: calc(.5rem - var(--border-width));
  }

  .ld-py075b {
    padding-top: calc(.75rem - 1px);
    padding-top: calc(.75rem - var(--border-width));
    padding-bottom: calc(.75rem - 1px);
    padding-bottom: calc(.75rem - var(--border-width));
  }

  .ld-py1b {
    padding-top: calc(1rem - 1px);
    padding-top: calc(1rem - var(--border-width));
    padding-bottom: calc(1rem - 1px);
    padding-bottom: calc(1rem - var(--border-width));
  }
}

@media (min-width: 100rem) {
  .xl-p0 {
    padding: 0;
  }

  .xl-p025 {
    padding: .25rem;
  }

  .xl-p05 {
    padding: .5rem;
  }

  .xl-p075 {
    padding: .75rem;
  }

  .xl-p1 {
    padding: 1rem;
  }

  .xl-p2 {
    padding: 2rem;
  }

  .xl-p3 {
    padding: 3rem;
  }

  .xl-p4 {
    padding: 4rem;
  }

  .xl-px0 {
    padding-left: 0;
    padding-right: 0;
  }

  .xl-px1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .xl-px2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .xl-px3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .xl-px4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .xl-py0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .xl-py1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .xl-py2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .xl-py3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .xl-py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .xl-p0125b {
    padding: calc(.125rem - 1px);
    padding: calc(.125rem - var(--border-width));
  }

  .xl-p025b {
    padding: calc(.25rem - 1px);
    padding: calc(.25rem - var(--border-width));
  }

  .xl-p05b {
    padding: calc(.5rem - 1px);
    padding: calc(.5rem - var(--border-width));
  }

  .xl-p075b {
    padding: calc(.75rem - 1px);
    padding: calc(.75rem - var(--border-width));
  }

  .xl-p1b {
    padding: calc(1rem - 1px);
    padding: calc(1rem - var(--border-width));
  }

  .xl-px0125b {
    padding-left: calc(.125rem - 1px);
    padding-left: calc(.125rem - var(--border-width));
    padding-right: calc(.125rem - 1px);
    padding-right: calc(.125rem - var(--border-width));
  }

  .xl-px025b {
    padding-left: calc(.25rem - 1px);
    padding-left: calc(.25rem - var(--border-width));
    padding-right: calc(.25rem - 1px);
    padding-right: calc(.25rem - var(--border-width));
  }

  .xl-px05b {
    padding-left: calc(.5rem - 1px);
    padding-left: calc(.5rem - var(--border-width));
    padding-right: calc(.5rem - 1px);
    padding-right: calc(.5rem - var(--border-width));
  }

  .xl-px075b {
    padding-left: calc(.75rem - 1px);
    padding-left: calc(.75rem - var(--border-width));
    padding-right: calc(.75rem - 1px);
    padding-right: calc(.75rem - var(--border-width));
  }

  .xl-px1b {
    padding-left: calc(1rem - 1px);
    padding-left: calc(1rem - var(--border-width));
    padding-right: calc(1rem - 1px);
    padding-right: calc(1rem - var(--border-width));
  }

  .xl-py0125b {
    padding-top: calc(.125rem - 1px);
    padding-top: calc(.125rem - var(--border-width));
    padding-bottom: calc(.125rem - 1px);
    padding-bottom: calc(.125rem - var(--border-width));
  }

  .xl-py025b {
    padding-top: calc(.25rem - 1px);
    padding-top: calc(.25rem - var(--border-width));
    padding-bottom: calc(.25rem - 1px);
    padding-bottom: calc(.25rem - var(--border-width));
  }

  .xl-py05b {
    padding-top: calc(.5rem - 1px);
    padding-top: calc(.5rem - var(--border-width));
    padding-bottom: calc(.5rem - 1px);
    padding-bottom: calc(.5rem - var(--border-width));
  }

  .xl-py075b {
    padding-top: calc(.75rem - 1px);
    padding-top: calc(.75rem - var(--border-width));
    padding-bottom: calc(.75rem - 1px);
    padding-bottom: calc(.75rem - var(--border-width));
  }

  .xl-py1b {
    padding-top: calc(1rem - 1px);
    padding-top: calc(1rem - var(--border-width));
    padding-bottom: calc(1rem - 1px);
    padding-bottom: calc(1rem - var(--border-width));
  }
}

.ba {
  border: 1px solid currentColor;
  border: var(--border-width) solid var(--border-color);
}

.bl {
  border-left: 1px solid currentColor;
  border-left: var(--border-width) solid var(--border-color);
}

.br {
  border-right: 1px solid currentColor;
  border-right: var(--border-width) solid var(--border-color);
}

.bt {
  border-top: 1px solid currentColor;
  border-top: var(--border-width) solid var(--border-color);
}

.bb {
  border-bottom: 1px solid currentColor;
  border-bottom: var(--border-width) solid var(--border-color);
}

.br1 {
  border-radius: .125rem;
}

.br2 {
  border-radius: .25rem;
}

.br3 {
  border-radius: .5rem;
}

.br100 {
  border-radius: 100%;
}

.b-black {
  border-color: #040404;
  border-color: var(--black);
}

.b-black-95 {
  border-color: rgba(4, 4, 4, .95);
  border-color: var(--black-95);
}

.b-black-90 {
  border-color: rgba(4, 4, 4, .9);
  border-color: var(--black-90);
}

.b-black-80 {
  border-color: rgba(4, 4, 4, .8);
  border-color: var(--black-80);
}

.b-black-70 {
  border-color: rgba(4, 4, 4, .7);
  border-color: var(--black-70);
}

.b-black-60 {
  border-color: rgba(4, 4, 4, .6);
  border-color: var(--black-60);
}

.b-black-50 {
  border-color: rgba(4, 4, 4, .5);
  border-color: var(--black-50);
}

.b-black-40 {
  border-color: rgba(4, 4, 4, .4);
  border-color: var(--black-40);
}

.b-black-30 {
  border-color: rgba(4, 4, 4, .3);
  border-color: var(--black-30);
}

.b-black-20 {
  border-color: rgba(4, 4, 4, .2);
  border-color: var(--black-20);
}

.b-black-10 {
  border-color: rgba(4, 4, 4, .1);
  border-color: var(--black-10);
}

.b-black-05 {
  border-color: rgba(4, 4, 4, .05);
  border-color: var(--black-05);
}

.b-black-025 {
  border-color: rgba(4, 4, 4, .025);
  border-color: var(--black-025);
}

.b-black-0125 {
  border-color: rgba(4, 4, 4, .0125);
  border-color: var(--black-0125);
}

.b-white {
  border-color: #fff;
  border-color: var(--white);
}

.b-white-95 {
  border-color: rgba(255, 255, 255, .95);
  border-color: var(--white-95);
}

.b-white-90 {
  border-color: rgba(255, 255, 255, .9);
  border-color: var(--white-90);
}

.b-white-80 {
  border-color: rgba(255, 255, 255, .8);
  border-color: var(--white-80);
}

.b-white-70 {
  border-color: rgba(255, 255, 255, .7);
  border-color: var(--white-70);
}

.b-white-60 {
  border-color: rgba(255, 255, 255, .6);
  border-color: var(--white-60);
}

.b-white-50 {
  border-color: rgba(255, 255, 255, .5);
  border-color: var(--white-50);
}

.b-white-40 {
  border-color: rgba(255, 255, 255, .4);
  border-color: var(--white-40);
}

.b-white-30 {
  border-color: rgba(255, 255, 255, .3);
  border-color: var(--white-30);
}

.b-white-20 {
  border-color: rgba(255, 255, 255, .2);
  border-color: var(--white-20);
}

.b-white-10 {
  border-color: rgba(255, 255, 255, .1);
  border-color: var(--white-10);
}

.b-white-05 {
  border-color: rgba(255, 255, 255, .05);
  border-color: var(--white-05);
}

.b-white-025 {
  border-color: rgba(255, 255, 255, .025);
  border-color: var(--white-025);
}

.b-white-0125 {
  border-color: rgba(255, 255, 255, .0125);
  border-color: var(--white-0125);
}

.b-aqua {
  border-color: #7fdbff;
  border-color: var(--aqua);
}

.b-blue {
  border-color: #0074d9;
  border-color: var(--blue);
}

.b-navy {
  border-color: #001f3f;
  border-color: var(--navy);
}

.b-teal {
  border-color: #39cccc;
  border-color: var(--teal);
}

.b-green {
  border-color: #2ecc40;
  border-color: var(--green);
}

.b-olive {
  border-color: #3d9970;
  border-color: var(--olive);
}

.b-lime {
  border-color: #01ff70;
  border-color: var(--lime);
}

.b-yellow {
  border-color: #ffdc00;
  border-color: var(--yellow);
}

.b-orange {
  border-color: #ff851b;
  border-color: var(--orange);
}

.b-red {
  border-color: #ff4136;
  border-color: var(--red);
}

.b-fuchsia {
  border-color: #f012be;
  border-color: var(--fuchsia);
}

.b-purple {
  border-color: #b10dc9;
  border-color: var(--purple);
}

.b-maroon {
  border-color: #85144b;
  border-color: var(--maroon);
}

.div {
  color: currentColor;
  color: var(--border-color);
}

.div::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  min-width: 1px;
  min-width: var(--border-width);
  min-height: 1px;
  min-height: var(--border-width);
  background-color: currentColor;
}

.color-inherit, .color-inherit\:hover:hover, .anchor:hover .color-inherit\:hover {
  color: inherit;
}

.color-transparent {
  color: transparent;
}

.color-black {
  color: #040404;
  color: var(--black);
}

.color-black-95 {
  color: rgba(4, 4, 4, .95);
  color: var(--black-95);
}

.color-black-90 {
  color: rgba(4, 4, 4, .9);
  color: var(--black-90);
}

.color-black-80 {
  color: rgba(4, 4, 4, .8);
  color: var(--black-80);
}

.color-black-70 {
  color: rgba(4, 4, 4, .7);
  color: var(--black-70);
}

.color-black-60 {
  color: rgba(4, 4, 4, .6);
  color: var(--black-60);
}

.color-black-50 {
  color: rgba(4, 4, 4, .5);
  color: var(--black-50);
}

.color-black-40 {
  color: rgba(4, 4, 4, .4);
  color: var(--black-40);
}

.color-black-30 {
  color: rgba(4, 4, 4, .3);
  color: var(--black-30);
}

.color-black-20 {
  color: rgba(4, 4, 4, .2);
  color: var(--black-20);
}

.color-black-10 {
  color: rgba(4, 4, 4, .1);
  color: var(--black-10);
}

.color-black-05 {
  color: rgba(4, 4, 4, .05);
  color: var(--black-05);
}

.color-black-025 {
  color: rgba(4, 4, 4, .025);
  color: var(--black-025);
}

.color-black-0125 {
  color: rgba(4, 4, 4, .0125);
  color: var(--black-0125);
}

.color-white {
  color: #fff;
  color: var(--white);
}

.color-white-95 {
  color: rgba(255, 255, 255, .95);
  color: var(--white-95);
}

.color-white-90 {
  color: rgba(255, 255, 255, .9);
  color: var(--white-90);
}

.color-white-80 {
  color: rgba(255, 255, 255, .8);
  color: var(--white-80);
}

.color-white-70 {
  color: rgba(255, 255, 255, .7);
  color: var(--white-70);
}

.color-white-60 {
  color: rgba(255, 255, 255, .6);
  color: var(--white-60);
}

.color-white-50 {
  color: rgba(255, 255, 255, .5);
  color: var(--white-50);
}

.color-white-40 {
  color: rgba(255, 255, 255, .4);
  color: var(--white-40);
}

.color-white-30 {
  color: rgba(255, 255, 255, .3);
  color: var(--white-30);
}

.color-white-20 {
  color: rgba(255, 255, 255, .2);
  color: var(--white-20);
}

.color-white-10 {
  color: rgba(255, 255, 255, .1);
  color: var(--white-10);
}

.color-white-05 {
  color: rgba(255, 255, 255, .05);
  color: var(--white-05);
}

.color-white-025 {
  color: rgba(255, 255, 255, .025);
  color: var(--white-025);
}

.color-white-0125 {
  color: rgba(255, 255, 255, .0125);
  color: var(--white-0125);
}

.color-aqua {
  color: #7fdbff;
  color: var(--aqua);
}

.color-blue {
  color: #0074d9;
  color: var(--blue);
}

.color-navy {
  color: #001f3f;
  color: var(--navy);
}

.color-teal {
  color: #39cccc;
  color: var(--teal);
}

.color-green {
  color: #2ecc40;
  color: var(--green);
}

.color-olive {
  color: #3d9970;
  color: var(--olive);
}

.color-lime {
  color: #01ff70;
  color: var(--lime);
}

.color-yellow {
  color: #ffdc00;
  color: var(--yellow);
}

.color-orange {
  color: #ff851b;
  color: var(--orange);
}

.color-red {
  color: #ff4136;
  color: var(--red);
}

.color-fuchsia {
  color: #f012be;
  color: var(--fuchsia);
}

.color-purple {
  color: #b10dc9;
  color: var(--purple);
}

.color-maroon {
  color: #85144b;
  color: var(--maroon);
}

.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

.bg-top {
  background-position: top;
}

.bg-bottom {
  background-position: bottom;
}

.bg-left {
  background-position: left;
}

.bg-right {
  background-position: right;
}

.bg-center {
  background-position: center;
}

.bg-topleft {
  background-position: top left;
}

.bg-topright {
  background-position: top right;
}

.bg-bottomleft {
  background-position: bottom left;
}

.bg-bottomright {
  background-position: bottom right;
}

.bg-repeatx {
  background-repeat: repeat-x;
}

.bg-repeaty {
  background-repeat: repeat-y;
}

.bg-norepeat {
  background-repeat: no-repeat;
}

.bg-black {
  background-color: #040404;
  background-color: var(--black);
}

.bg-black-95 {
  background-color: rgba(4, 4, 4, .95);
  background-color: var(--black-95);
}

.bg-black-90 {
  background-color: rgba(4, 4, 4, .9);
  background-color: var(--black-90);
}

.bg-black-80 {
  background-color: rgba(4, 4, 4, .8);
  background-color: var(--black-80);
}

.bg-black-70 {
  background-color: rgba(4, 4, 4, .7);
  background-color: var(--black-70);
}

.bg-black-60 {
  background-color: rgba(4, 4, 4, .6);
  background-color: var(--black-60);
}

.bg-black-50 {
  background-color: rgba(4, 4, 4, .5);
  background-color: var(--black-50);
}

.bg-black-40 {
  background-color: rgba(4, 4, 4, .4);
  background-color: var(--black-40);
}

.bg-black-30 {
  background-color: rgba(4, 4, 4, .3);
  background-color: var(--black-30);
}

.bg-black-20 {
  background-color: rgba(4, 4, 4, .2);
  background-color: var(--black-20);
}

.bg-black-10 {
  background-color: rgba(4, 4, 4, .1);
  background-color: var(--black-10);
}

.bg-black-05 {
  background-color: rgba(4, 4, 4, .05);
  background-color: var(--black-05);
}

.bg-black-025 {
  background-color: rgba(4, 4, 4, .025);
  background-color: var(--black-025);
}

.bg-black-0125 {
  background-color: rgba(4, 4, 4, .0125);
  background-color: var(--black-0125);
}

.bg-white {
  background-color: #fff;
  background-color: var(--white);
}

.bg-white-95 {
  background-color: rgba(255, 255, 255, .95);
  background-color: var(--white-95);
}

.bg-white-90 {
  background-color: rgba(255, 255, 255, .9);
  background-color: var(--white-90);
}

.bg-white-80 {
  background-color: rgba(255, 255, 255, .8);
  background-color: var(--white-80);
}

.bg-white-70 {
  background-color: rgba(255, 255, 255, .7);
  background-color: var(--white-70);
}

.bg-white-60 {
  background-color: rgba(255, 255, 255, .6);
  background-color: var(--white-60);
}

.bg-white-50 {
  background-color: rgba(255, 255, 255, .5);
  background-color: var(--white-50);
}

.bg-white-40 {
  background-color: rgba(255, 255, 255, .4);
  background-color: var(--white-40);
}

.bg-white-30 {
  background-color: rgba(255, 255, 255, .3);
  background-color: var(--white-30);
}

.bg-white-20 {
  background-color: rgba(255, 255, 255, .2);
  background-color: var(--white-20);
}

.bg-white-10 {
  background-color: rgba(255, 255, 255, .1);
  background-color: var(--white-10);
}

.bg-white-05 {
  background-color: rgba(255, 255, 255, .05);
  background-color: var(--white-05);
}

.bg-white-025 {
  background-color: rgba(255, 255, 255, .025);
  background-color: var(--white-025);
}

.bg-white-0125 {
  background-color: rgba(255, 255, 255, .0125);
  background-color: var(--white-0125);
}

.bg-aqua {
  background-color: #7fdbff;
  background-color: var(--aqua);
}

.bg-blue {
  background-color: #0074d9;
  background-color: var(--blue);
}

.bg-navy {
  background-color: #001f3f;
  background-color: var(--navy);
}

.bg-teal {
  background-color: #39cccc;
  background-color: var(--teal);
}

.bg-green {
  background-color: #2ecc40;
  background-color: var(--green);
}

.bg-olive {
  background-color: #3d9970;
  background-color: var(--olive);
}

.bg-lime {
  background-color: #01ff70;
  background-color: var(--lime);
}

.bg-yellow {
  background-color: #ffdc00;
  background-color: var(--yellow);
}

.bg-orange {
  background-color: #ff851b;
  background-color: var(--orange);
}

.bg-red {
  background-color: #ff4136;
  background-color: var(--red);
}

.bg-fuchsia {
  background-color: #f012be;
  background-color: var(--fuchsia);
}

.bg-purple {
  background-color: #b10dc9;
  background-color: var(--purple);
}

.bg-maroon {
  background-color: #85144b;
  background-color: var(--maroon);
}

.cursor-default {
  cursor: default;
}

.cursor-notallowed {
  cursor: not-allowed;
}

.cursor-progress {
  cursor: progress;
}

.cursor-pointer {
  cursor: pointer;
}

.-d {
  outline: 1px dashed #b10dc9;
  outline: 1px dashed var(--purple);
}

.-d * {
  outline: 1px dashed #01ff70;
  outline: 1px dashed var(--lime);
}

.-d *.-d {
  outline: 1px dashed #b10dc9;
  outline: 1px dashed var(--purple);
}

.-view {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ffdc00;
  background-color: var(--yellow);
  color: #000;
  line-height: 1;
  font-size: 12px;
  padding: 4px;
  z-index: 9999;
}

.-view::before {
  content: "-";
}

@media (max-width: 24rem) {
  .-view::before {
    content: "XS";
  }
}

@media (min-width: 40rem) {
  .-view::before {
    content: "SD";
  }
}

@media (min-width: 61rem) {
  .-view::before {
    content: "MD";
  }
}

@media (min-width: 80rem) {
  .-view::before {
    content: "LD";
  }
}

@media (min-width: 100rem) {
  .-view::before {
    content: "XL";
  }
}

.body {
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 40rem) {
  .body {
    max-width: 39rem;
  }
}

@media (min-width: 61rem) {
  .body {
    display: grid;
    grid-template-columns: 19rem auto;
    grid-template-rows: repeat(3, -webkit-min-content);
    grid-template-rows: repeat(3, min-content);
    max-width: 58rem;
  }

  .main {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 3;
  }
}

@media (min-width: 80rem) {
  .body {
    max-width: 77rem;
  }
}

.copy > * {
  max-width: 36rem;
}

.copy > * + * {
  margin-top: 1em;
}

.copy h1, .copy h2, .copy h3, .copy h4, .copy h5, .copy h6 {
  font-weight: bold;
}

.copy figure {
  display: block;
}

.copy figcaption {
  font-style: italic;
}

.copy a {
  text-decoration: underline;
}

.copy img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.copy strong {
  font-weight: bold;
}

.copy em {
  font-style: italic;
}

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.max38 {
  max-width: 38rem;
}
